@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Inter', sans-serif; */
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.profile-container{
  position: relative;
  height: 0px;
}

.profile-container::after{
  content:'';
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  right:0;
  background:black;
  
}






